header{
    display: flex;
    justify-content: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}

.todoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}

.todo{
    display: flex;
}


